type project
id
    Freya.Testing.Hopac
title
    Freya.Testing.Hopac
description
    Testing utilities and helpers for Freya libraries, plus Freya applications (Hopac implementation)
tags
    functional, web, f#, freya, testing, hopac
version
    3.0.0-rc03
owners
    Andrew Cherry, Ryan Riley
authors
    Andrew Cherry, Ryan Riley
copyright
    Copyright Xyncro Ltd 2016
projectUrl
    https://freya.io
licenseUrl
    https://github.com/xyncro/freya-testing/blob/master/LICENSE.md
requireLicenseAcceptance
    false
